
lessons/.ipynb_checkpoints/01_Lesson01_sourceSink-checkpoint.ipynb

lessons/.ipynb_checkpoints/00_Lesson00_QuickPythonIntro-checkpoint.ipynb

lessons/.ipynb_checkpoints/02_Lesson02_sourceSinkFreestream-checkpoint.ipynb

lessons/.ipynb_checkpoints/04_Lesson04_vortex-checkpoint.ipynb

lessons/.ipynb_checkpoints/07_Lesson07_methodOfImages-checkpoint.ipynb

lessons/.ipynb_checkpoints/05_Lesson05_InfiniteRowOfVortices-checkpoint.ipynb

lessons/.ipynb_checkpoints/08_Lesson08_sourceSheet-checkpoint.ipynb

lessons/.ipynb_checkpoints/09_Lesson09_flowOverCylinder-checkpoint.ipynb

lessons/.ipynb_checkpoints/10_Lesson10_sourcePanelMethod-checkpoint.ipynb

lessons/.ipynb_checkpoints/03_Lesson03_doublet-checkpoint.ipynb

lessons/.ipynb_checkpoints/06_Lesson06_vortexLift-checkpoint.ipynb
