
lessons/.ipynb_checkpoints/01_Lesson01_sourceSink-checkpoint.ipynb

lessons/.ipynb_checkpoints/00_Lesson00_QuickPythonIntro-checkpoint.ipynb

lessons/.ipynb_checkpoints/02_Lesson02_sourceSinkFreestream-checkpoint.ipynb

lessons/.ipynb_checkpoints/04_Lesson04_vortex-checkpoint.ipynb

lessons/.ipynb_checkpoints/07_Lesson07_methodOfImages-checkpoint.ipynb
